$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

@media (max-width: 576px) {
  header .d-flex {
    flex-direction: column !important;
    align-items: flex-start !important;
    text-align: left !important;
  }
  header .fs-4,
  header span {
    text-align: center !important;
    width: 100%;
    display: block;
  }
}