---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Communications</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Talks</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.communications.talks %}
          <p>
            <a href="{{ section.url }}" target="_blank" style="text-decoration: underline; color: inherit;">
              {{ section.title }}
            </a>
          </p>
          <p style="font-size: 0.9em; color: gray;">
            {{ section.conference }} ({{ section.date }})
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Posters</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.communications.posters %}
          <p>
            <a href="{{ section.url }}" target="_blank" style="text-decoration: underline; color: inherit;">
              {{ section.title }}
            </a>
          </p>
          <p style="font-size: 0.9em; color: gray;">
            {{ section.conference }} ({{ section.date }})
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
